{% extends 'base.html' %}

{% block title %} Редактирование сотрудника {% endblock%}

{% block main %}


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-7 col-xxl-6" style="border-radius: 10px">
      <!-- поиск по ФИО -->
      {% if list_search_person %}
      <table class="table table-hover" align="center">
        <thead class="thead-light">
          <tr align = 'center'>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Отдел</th>
          </tr>
        </thead>
        <tbody>
          {% for i in list_search_person %}
          <tr align = 'center'>
            <td><a href="{% url 'raymedasset:detail_person' i.id %}"> {{i.display_lname}} </a></td>
            <td><a href="{% url 'raymedasset:detail_person' i.id %}"> {{i.display_fname}} </a></td>
            <td>
              {% if i.middle_name %}
              <a href="{% url 'raymedasset:detail_person' i.id %}"> {{i.display_mname}} </a>
              {% else %}
              -
              {% endif %}
            </td>
            {% if i.department %}
              <td> <a href="{% url 'raymedasset:see_all_this_department' i.department %}">{{ i.get_department_display }}</a> </td>
            {% else %}
            <td> - </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      <!-- Поиск по номеру счету -->
      {% if result_device or result_subdevice %}
            <table class="table table-hover" align="center">
              <thead class="thead-light">
                <tr align='center'>
                  <th>ФИО</th>
                  <th>Тип устройства</th>
                  <th>Модель устройства</th>
                  <th>Серийный номер</th>
                  <th>Номер счета</th>
                  <th colspan ='2'>Документ</th>
                  <th></th>
                </tr>
              </thead>
              <!-- Если это устройство, то ищем его в модели Device -->
              {% if result_device %}
                {% for i in result_device %}
                    <tr align='center'>
                      {% if i.person %}
                        <td><a href="{% url 'raymedasset:detail_person' i.person.id %}">{{i.display_person}}</a></td>
                      {% else %}
                        <td>-</td>
                      {% endif %}
                      <td><a href="{% url 'raymedasset:see_all_this_type_device' i.device_type %}">{{i.get_device_type_display}}</a></td>
                      <td>{{i.model}}</td>
                      <td>{{i.serial_number}}</td>
                      {% if i.number_account %}
                        <td><a href="{% url 'raymedasset:see_device_for_number_account' i.number_account %}">{{i.display_number_account}}</a></td>
                      {% else %}
                        <td>-</td>
                      {% endif %}
                      {% if i.closed_document %}
                        <td colspan="2"><a href="{{i.closed_document.url}}" target="_blank">Документ</a></td>
                      {% else %}
                        <td colspan="2">Отсутствует</td>
                      {% endif %}

                    <td><a href="{% url 'raymedasset:transfer_device' i.id %}"><img src="/media/images/pencil.png" alt="img" width="20px" height="20px"></a> </td>
                    </tr>
                {% endfor %}
              {% endif %}
                <!-- Если это подустройство, то ищем его в модели Subdevice -->
              {% if result_subdevice %}
                {% for i in result_subdevice %}
                    <tr align='center'>
                      {% if i.device.person %}
                          <td><a href="{% url 'raymedasset:detail_person' i.device.person.id %}">{{i.device.display_person}}</a></td>
                      {% else %}
                        <td>-</td>
                      {% endif %}
                      <!-- <td><a href="{% url 'raymedasset:detail_person' i.device.person.id %}">{{i.device.display_person}}</a></td> -->
                      <td><a href="{% url 'raymedasset:see_all_this_type_device' i.type %}">{{i.get_type_display}}</a></td>
                      <td>{{i.model}}</td>
                      <td>{{i.serial_number}}</td>
                      {% if i.number_account %}
                        <td><a href="{% url 'raymedasset:see_device_for_number_account' i.number_account %}">{{i.display_number_account}}</a></td>
                      {% else %}
                        <td>-</td>
                      {% endif %}
                      {% if i.closed_document %}
                        <td colspan="2"><a href="{{i.closed_document.url}}" target="_blank">Документ</a></td>
                      {% else %}
                        <td colspan="2">Отсутствует</td>
                      {% endif %}

                    <td><a href="{% url 'raymedasset:transfer_device' i.id %}"><img src="/media/images/pencil.png" alt="img" width="20px" height="20px"></a> </td>
                    </tr>
                  {% endfor %}
                {% endif %}

              </table>
      {% endif %}


      <!-- Поиск по серийному номеру -->
        {% if list_device or list_subdevice %}
          <table class="table table-hover" align="center">
            <thead class="thead-light">
              <tr align='center'>
                <th>ФИО</th>
                <th>Тип устройства</th>
                <th>Модель устройства</th>
                <th>Серийный номер</th>
                <th>Номер счета</th>
                <th colspan = '2'>Документ</th>
                <th></th>
              </tr>
            </thead>

            {% if list_device %}
                {% for i in list_device %}
                <tr align='center'>
                  {% if i.person %}
                    <td><a href="{% url 'raymedasset:detail_person' i.person.id %}">{{i.display_person}}</a></td>
                  {% else %}
                    <td>---</td>
                  {% endif %}
                  <td>{{i.get_device_type_display}}</td>
                  <td>{{i.model}}</td>
                  <td>{{i.serial_number}}</td>
                  {% if i.number_account %}
                    <td><a href="{% url 'raymedasset:see_device_for_number_account' i.number_account %}">{{i.display_number_account}}</a></td>
                  {% else %}
                    <td> - </td>
                  {% endif %}
                  {% if i.closed_document %}
                    <td><a href="{{i.closed_document.url}}" target="_blank">Документ</a></td>
                  {% else %}
                    <td>Отсутствует</td>
                  {% endif %}
                  <td><a href="{% url 'raymedasset:transfer_device' i.id %}"><img src="/media/images/pencil.png" alt="img" width="20px" height="20px"></a> </td>
                </tr>
                {% endfor %}

            {% endif %}

            {% if list_subdevice %}
                {% for i in list_subdevice %}
                <tr align='center'>
                  {% if i.device.person %}
                    <td><a href="{% url 'raymedasset:detail_person' i.device.person.id %}">{{i.device.display_person}}</a></td>
                  {% else %}
                    <td>---</td>
                  {% endif %}
                  <td>{{i.get_device_type_display}}</td>
                  <td>{{i.model}}</td>
                  <td>{{i.serial_number}}</td>
                  {% if i.number_account %}
                    <td><a href="{% url 'raymedasset:see_device_for_number_account' i.number_account %}">{{i.display_number_account}}</a></td>
                  {% else %}
                    <td> - </td>
                  {% endif %}
                  {% if i.closed_document %}
                    <td><a href="{{i.closed_document.url}}" target="_blank">Документ</a></td>
                  {% else %}
                    <td>Отсутствует</td>
                  {% endif %}
                  <td><a href="{% url 'raymedasset:transfer_device' i.id %}"><img src="/media/images/pencil.png" alt="img" width="20px" height="20px"></a> </td>
                </tr>
                {% endfor %}
            {% endif %}
            </table>
          {% endif %}
    </div>
  </div>
</div>

</div>

{% endblock %}
